{% extends "base/base.html" %}
{% block title %}Abel's Website{% endblock %}

{% block template %}
    {% include "base/navbar.html"%}
    {% include "components/splash.html" %}

    {% include "threejs_template.html" %}

    <div class="container">
        <div class="row">
            <div>
                {% for message in messages %}
                    <div class = "messages">
                        <li class="list-inline p-3"><span>Anon:</span> {{message.content}}</li>
                    </div>
                {% endfor %}
            </div>
            <div class="form-container">
                <div class="form-wrapper">
                    <form method="post" action="{% url 'send_message'%}">
                        {% csrf_token %}
                            <div class="form-row">
                            <input type="text" name="content">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="projects-wrapper">
        <div id="h1-projects-container">
            <h1 class="h1projects"> Projects </h1>
            <div id="projects">
                <div class="a-project">
                    <a class="prolinks1"href="https://www.example.com">C++ Map using Hash and Binary Search Tree</a>
                </div>
                <div class="a-project">
                    <a class="prolinks2" href="https://www.example.com">C++ Map using Hash and Binary Search Tree</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const button = document.getElementById('port');
        const div = document.getElementById('projects-wrapper');
        
        button.addEventListener('click', () => {
        div.scrollIntoView({ behavior: 'smooth' });
        });
    </script>
    {% include "base/footer.html" %}
{% endblock %}