
/* Apply the background */
body {
  background-image: url('../noise.svg');
  background-color: #f9e4cb;
  background-repeat: no-repeat;
  background-size: cover;
}

.messages{
    background-color: rgb(255, 189, 107);
    margin:0.5em;
    border-radius: 3em;
}
.form-container{
    padding:3em;
}
.form-wrapper {
    display: grid;
    place-items: center;
  }

.form-row {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .wrapper-canvas{
   height: auto;
   width: 80%; 
  }
#h1-projects-container
{
  margin: 2em;
  background-color: #fff397;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.h1projects{
  text-align: center;
}

#projects-wrapper{
  background-size: 100% auto;
  
}
  #projects{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;

  }
  .a-project{
    margin: 2em;
  }
  .a-project > a{ 
  
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 5em ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-size:1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .prolinks1{
    background-image: url("../hash_tree.png");
  }
  .prolinks2:hover {
    transform: scale(1.1);
  }
  .prolinks1:hover{
    transform: scale(1.1);
  }
  .prolinks2 {
    background-image: url("../Capture-min.webp");
  }
  
/*///////footer//////*/
  footer {
    background-color: #181818;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  
  h3 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #fff;
  }
  
  .bottom-bar {
    background-color: #222;
    padding: 10px 0;
  }
  
  .bottom-bar p {
    margin: 0;
  }
  
  

  @media only screen and (max-width: 600px) {
    .a-project > a {
      font-size: 20px;
      width: 300px;
      padding: 10px;
    }
  }