body{
    background-color:white;
}
.messages{
    background-color: rgb(249, 228, 203);
    margin:0.5em;
    border-radius: 3em;
}
.form-container{
    padding:3em;
}
.form-wrapper {
    display: grid;
    place-items: center;
  }

.form-row {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .wrapper-canvas{
   height: auto;
   width: 80%; 
  }
  #projects{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
  }
  .a-project{
    margin: 4em;
    background-color: rgb(28, 221, 221);
  }
  .prolinks1{
    background-image: url("../hash_tree.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 5em 12em;
    border-radius: 8px;
    font-size:1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007aff;
  }
  .prolinks2{
    display: inline-block;
    padding: 5em 12em;
    border-radius: 8px;
    font-size:1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007aff;
  }
/*///////footer//////*/
  footer {
    background-color: #181818;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  
  h3 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #fff;
  }
  
  .bottom-bar {
    background-color: #222;
    padding: 10px 0;
  }
  
  .bottom-bar p {
    margin: 0;
  }
  
  


  
  .fa {
    display: inline-block;
    font-size: inherit;
    vertical-align: middle;
  }
  