<footer>
    <div class="footer-container">
      <div class="about-row">
        <div class="description">
          <p>This is a Website made by Abel De Leon using Django and Three.js.</p>
        </div>

        <div class="link-contact-wrapper">
          <div class="col-links">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="https://www.youtube.com/@ABELDELEONART/videos">Youtube</a></li>
              <li><a href="https://www.instagram.com/vastobserver/">Instagram</a></li>
            </ul>
          </div>

          <div class="col-contact">
            <h3>Contact</h3>
            <p>abelefai@gmail.com</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-bar">
            <p>&copy; 2023 Abel Deleon</p>
    </div>

  </footer>