<div class="splash-3d-container">
    <div class="splash-container">
        <h1 class="splash-title">Portfolio.</h1>
        <p class="sub-title">
            Abel's resume
        </P>
        <button id="projs" type="button" class="round-black-btn">
        Let's go
        </button>
    </div>
    <div class="profile-container">
        <img class="profile-image" src="/static/me.webp" alt="Description of the image">
        <div class="about-me">
            <p>
                Hello, my name is Abel De Leon and I'm a computer science student at El Camino College. I'm passionate about programming and designing applications. In my spare time, I enjoy color grading pictures I've taken with my camera and watching documentaries. I'm a productive team member and enjoy collaborating with others.
            </p>
        </div>
    </div>

</div>

